<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>

  <title><%= full_title( yield(:title) ) %></title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= render 'layouts/shim' %>
  <%= render 'layouts/meta' %>

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <!-- fonts -->
  <link href='http://fonts.googleapis.com/css?family=Arvo:700' rel='stylesheet' type='text/css'>

</head>
<body>
	<div class="container-fluid">
	  <div class="row-fluid">
		
	    <div id="sidebar" class="span3">
	      <!--Sidebar content-->
		  <div class="logo">
			
		  	<img src="assets/tube-logo.png" alt="koryko.ch" />
			<span id="handle"></span>
			
			<h1>koryko.ch</h1>
			
			<nav>
				<a href="/" alt="News">News</a>
				<a href="#">Audio</a>
				<a href="#">Code</a>
				<a href="#">Contact</a>
			</nav>
		
		  </div>
		
	    </div>
	    <div class="span9 main">
	      <!--Body content-->
		  <%= yield %>
	    </div>
	
	  </div>
	</div><!-- End container-fluid -->
</body>
</html>
